<!DOCTYPE HTML>

<html>
	<head>
		<title>About us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="subpage">
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>SuccessFully....!!!! Added......!!!!!</h1>
					</header>
				</div>
			</section>
			<div class="container">
			  <h2>Add Contact</h2>
			  <a href="{{ url_for('p_add') }}">click Add</a>
			  <div>
			  	<h2>Search</h2>
			  	<a href="{{ url_for('p_search') }}">click search</a>
			  </div>
			</div>


	</body>
</html>